aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-types==0.7.0
apparmor==4.1.3
appdirs==1.4.4
application-utility==1.4.0
apsw==3.51.2.0
argcomplete==3.6.2
asciidoc==10.2.1
astroid==4.0.3
asttokens==3.0.1
attrs==25.4.0
autocommand==2.2.2
babel==2.17.0
bcrypt==5.0.0
beautifulsoup4==4.14.3
bitarray==3.8.0
bitstring==4.3.1
boto3==1.42.25
botocore==1.42.25
bottle==0.13.3
Brotli==1.2.0
brotlicffi==1.2.0.0
btrfsutil==6.17.1
build==1.4.0
CacheControl==0.14.4
cachetools==6.2.2
cachy==0.3.0
certifi==2026.1.4
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
cleo==2.1.0
click==8.3.1
colorama==0.4.6
contourpy==1.3.3
coverage==7.13.2
crashtest==0.4.1
cryptography==46.0.3
css-parser==1.0.10
cssselect==1.3.0
cssselect2==0.8.0
cycler==0.12.1
Cython==3.2.4
dbus-python==1.4.0
Deprecated==1.2.18
deprecation==2.1.0
dill==0.4.1
distlib==0.4.0
distro==1.9.0
dnspython==2.8.0
docopt==0.6.2
docutils==0.22.3
dulwich==0.25.2
duplicity==3.0.7
ecdsa==0.19.1
editables==0.5
esptool==5.1.0
fasteners==0.20
fastjsonschema==2.21.2
faust-cchardet==2.1.19
feedparser==6.0.12
filelock==3.20.3
findpython==0.7.1
flit==3.12.0
flit_core==3.12.0
fluidity-sm==0.2.1
fonttools==4.61.1
frozenlist==1.8.0
gitdb==4.0.12
GitPython==3.1.47
google-api-core==2.19.1
google-api-python-client==2.140.0
google-auth==2.43.0
google-auth-httplib2==0.2.1
googleapis-common-protos==1.72.0
gufw==26.4.0
hatch-fancy-pypi-readme==25.1.0
hatch-vcs==0.5.0
hatchling==1.28.0
html2text==2025.4.15
html5-parser==0.4.12
html5lib==1.1
httplib2==0.31.2
hypothesis==6.150.0
idna==3.11
ifaddr==0.2.0
img2pdf==0.6.1
importlib_metadata==8.7.1
importlib_resources==6.5.2
inflate64==1.0.4
inflect==7.5.0
iniconfig==2.1.0
installer==0.7.0
intelhex==2.3.0
invoke==2.2.1
isort==7.0.0
jaconv==0.4.1
jaraco.classes==3.4.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
jedi==0.19.2
jeepney==0.9.0
Jinja2==3.1.6
jmespath==1.1.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
keyring==25.7.0
keyutils==0.6
kiwisolver==1.4.7
lark==1.3.1
lazy-object-proxy==1.12.0
legacy-cgi==2.6.4
lensfun==0.3.4
lexicon==3.0.0
LibAppArmor==4.1.3
libarchive-c==5.1
librt==0.7.7
lightdm-gtk-greeter-settings==1.2.3
lit==21.1.6.dev0
lockfile==0.12.2
lxml==6.0.2
lxml_html_clean==0.4.3
Mako==1.3.10.dev0
mallard-ducktype==1.0.2
Markdown==3.10.1
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.8
mccabe==0.7.0
mdurl==0.1.2
mechanize==0.4.10
menulibre==2.4.0
mercurial==7.2
meson==1.10.1
more-itertools==10.8.0
msgpack==1.1.2
mugshot==0.4.3
multidict==6.7.0
multivolumefile==0.2.3
mypy==1.19.1
mypy_extensions==1.1.0
nanobind==2.10.2
netifaces==0.11.0
netsnmp-python==1.0a1
nftables==0.1
npyscreen==5.0.2
numpy==2.4.1
oauth2client==4.1.3
ordered-set==4.1.0
orjson==3.11.5
packaging==26.0
pacman_mirrors==5.3
paramiko==4.0.0
parso==0.8.5
path==16.12.1
pathspec==0.12.1
pbs-installer==2025.12.17
pdfarranger==1.12.1
pdfminer.six==20250506
pdftotext==2.2.2
pexpect==4.9.0
pikepdf==10.3.0
pillow==12.1.0
pipx==1.8.0
pkginfo==1.12.1.2
platformdirs==4.5.1
pluggy==1.6.0
ply==3.11
poetry==2.2.1
poetry-core==2.2.1
poetry-plugin-export==1.9.0
propcache==0.4.1
protobuf==6.33.1
psutil==7.2.1
ptyprocess==0.7.0
pwquality==1.4.5
py7zr==1.1.2
pyaes==1.6.1
pyaml==24.12.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybcj==1.0.7
pybind11==3.0.1
pycairo==1.29.0
pychm==0.8.6
pycosat==0.6.6
pycparser==2.23
pycryptodome==3.23.0
pycryptodomex==3.23.0
pydantic==2.12.5
pydantic_core==2.41.5
PyDrive2==1.21.3
pyenchant==3.3.0
Pygments==2.19.2
PyGObject==3.54.5
pygtkspellcheck==5.0.3
pykakasi==2.3.1.dev0
pylint==4.0.4
PyMuPDF==1.26.7
PyNaCl==1.6.2
PyOpenGL==3.1.10
pyOpenSSL==25.3.0
pyparsing==3.3.2
pyperclip==1.11.0
pyppmd==1.2.0
pyproject_hooks==1.2.0
Pypubsub==4.0.3
PyQt-builder==1.19.1
PyQt5_sip==12.18.0
PyQt6==6.10.2
PyQt6-WebEngine==6.10.0
PyQt6_sip==13.11.0
pyserial==3.5
PySide6==6.10.1
pytesseract==0.3.13
pytest==8.4.2
pytest-asyncio==1.3.0
pytest-cov==6.1.1
pytest-mock==3.14.0
python-dateutil==2.9.0
python-distutils-extra==2.39
pytz==2025.2
pyxdg==0.28
PyYAML==6.0.3
pyzstd==0.19.1
RapidFuzz==3.14.3
reedsolo==1.7.0
referencing==0.37.0
regex==2026.1.15
reportlab==4.2.2
requests==2.32.5
requests-toolbelt==1.0.0
rich==14.3.1
rich-click==1.9.6
rpds-py==0.30.0
rpm==6.0.1
rsa==4.9.1
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.15
s3transfer==0.16.0
scikit-build==0.18.1
scikit_build_core==0.11.6
scour==0.38.2
SecretStorage==3.3.3
Send2Trash==1.8.3
setproctitle==1.3.7
setuptools==80.9.0
setuptools-scm==9.2.2
sgmllib3k==1.0.0
shellingham==1.5.4
shiboken6==6.10.1
shiboken6-generator==6.10.1
sip==6.15.1
six==1.17.0
smmap==6.0.0
sortedcontainers==2.4.0
soupsieve==2.8.3
standard-cgi==3.13.0
svglib==1.6.0
systemd-python==235
TBB==0.2
texttable==1.7.0
tinycss2==1.5.1
toml==0.10.2
tomli==2.4.0
tomli_w==1.2.0
tomlkit==0.14.0
tqdm==4.67.1
trove-classifiers==2026.1.14.14
typeguard==4.4.4
typing-inspection==0.4.2
typing_extensions==4.15.0
uc-micro-py==1.0.3
udiskie==2.6.1
ufw==0.36.2
ujson==5.11.0
unrardll==0.1.7
uritemplate==4.2.0
urllib3==2.6.3
userpath==1.9.2
validate-pyproject==0.24.1.post1.dev0+g78f5e0f10.d20251227
virtualenv==20.36.1
webencodings==0.5.1
wheel==0.45.1
wrapt==1.17.3
wxPython==4.2.4
xmltodict==1.0.2
xonsh==0.22.1
xxhash==3.6.0
yarl==1.23.0
yq==3.4.3
yt-dlp==2026.1.29
yt-dlp-ejs==0.4.0
ytmusicapi==1.11.4
zeroconf==0.148.0
zipp==3.21.0
zstandard==0.25.0
