*/application
.DS_Store
*.tga
*.class
*.properties
2020/sketch_2020_02_22a/video.mp4
*.pyc
*settings.json
2021/sketch_2021_02_22_selfie/data/unnamed.jpg
2021/sketch_2021_02_22b_selfie/data/unnamed.jpg
2021/sketch_2021_03_18a_sorting/data/img.jpg
2021/sketch_2021_03_19a_sorting/data/img.jpg
*nice.txt
2021/sketch_2021_08_08a_lines/a.gif
2021/sketch_2021_10_09a_images/data/*
