<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://villares.github.io/assets/css/style.css">  </head>
  <body>
<h1><a href="https://abav.lugaralgum.com" alt="Alexandre Villares">Alexandre Villares</a></h1>
    <div class="content">
      {{ content }}
    </div>
    <footer>
      <div class="container">
      </div>
    </footer>
  </body>
</html>
